#pragma code_page(65001)

1 24 "app.manifest"
101 ICON "../../ICO.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "CompanyName", "STC214"
      VALUE "FileDescription", "程序启动管理器（OneKeyAdminOpenPro）"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "OneKeyAdminOpenPro"
      VALUE "LegalCopyright", "Copyright (C) 2026 STC214"
      VALUE "OriginalFilename", "程序启动管理器.exe"
      VALUE "ProductName", "OneKeyAdminOpenPro 程序启动管理器"
      VALUE "ProductVersion", "1.0.0.0"
      VALUE "Comments", "一键以管理员权限启动、检测和关闭常用程序"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
